
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  /* background-color: rgb(62, 61, 61); */
  color:black
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
